body{
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding-bottom: 10px;
}

#menu{
    margin-left: 45%;
    margin-bottom: 20px;
}

input#abrir-cerrar { 
    visibility:hidden;
    position: absolute;
    top: -9999px;
}

.toggle-button {
    display:block;
    width:40px;
    height:40px;
    color: white;
    background-color:  #0044AA;
    border:1px solid black;
    border-radius: 5px;
    position:relative;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle-button:hover {
    background-color: #0022AA;
}

.toggle-button:before, .toggle-button:after {
    position:absolute;
    display:block;
    content:" ";
    width: calc(100% / 2);               
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}

.toggle-button:before {
    top: calc(100% / 4);
    height:calc(100% / 4);
    border-top:1px solid white;
    border-bottom:1px solid white;
    background-color: transparent;
}

.toggle-button:after {
    height:1px;
    background-color:white;
    bottom:calc(100% / 4);
}

input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
    top:calc(100% / 2);
    height:1px;
    border-bottom:0;
}

input#abrir-cerrar:checked + .toggle-button:before {
    transform: rotate(45deg); 
}

input#abrir-cerrar:checked + .toggle-button:after {
    transform: rotate(-45deg);
}

.abrir, .cerrar { 
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-indent: -9999px;
}

.links{
    display: none;
    list-style: none;
}

.abrir {
    display:block;
}

.cerrar {
    display:none;
}

input#abrir-cerrar:checked + .toggle-button .links {
    display:none;
}

input#abrir-cerrar:checked + .toggle-button .links {
    display:block;
}

ul li {
    font-family: 'rotobo', sans-serif;
}

ul {
    list-style-image: none;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'rotobo', sans-serif;
    font-size: 12px;
}

.titulo{
    font-weight: bold;
    font-size: 16px;
}

.input-perfil{
    flex-direction: row;
    width: 90%;
}

.input-perfil input{
    width: 25%;
}

.input-intereses{
    flex-direction: column;
    width: 90%;
}

.input-intereses input{
    width: 25%;
}

.input{
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
}

.ingresar{
    color: white;
    background-color: #0044AA;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
}

.ingresar:hover {
    background-color: #0022AA;
}

.reset{
    color: white;
    background-color:#AA0044;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
}

.reset:hover {
    background-color: #CC1155;
}

footer{
    padding-left: 5% ;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

footer article{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

footer .color-azul {
    color:#0022AA;
}